<tr>
  <td style="padding:30px 20px 10px;">
     <table style="width:360px;margin:0 auto;border:1px solid #9b9b9b;border-radius:8px;border-spacing:0;">
        <tbody style="color:#1a1c1f;text-align:left;white-space:nowrap;">
           
           <tr style="font-size:18px;line-height:24px;">
              <td style="font-family: Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;width:33.33%;padding:15px 7px 15px 20px;">
                 Name:
              </td>
              <td style="width:33.33%;padding:15px 7px 15px 20px;"><span style="text-transform:capitalize;">##3</span></td>
           </tr>
           <tr style="font-size:18px;line-height:24px;">
              <td style="border-top:1px solid #9b9b9b;font-family: Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;width:33.33%;padding:15px 7px 15px 20px;">
                 Member Status:
              </td>
              <td style="border-top:1px solid #9b9b9b;width:33.33%;padding:15px 7px 15px 20px;">💎 Platinum</td>
           </tr>
           <tr style="font-size:18px;line-height:24px;">
              <td style="border-top:1px solid #9b9b9b;width:33.33%;padding:15px 7px 15px 20px;">Account Balance:</td>
              <td style="border-top:1px solid #9b9b9b;width:33.33%;padding:15px 7px 15px 20px;"><b>$257.30</b></td>
           </tr>
              
        </tbody>
     </table>

  </td>
</tr>