<tr>
  <td style="padding:10px 20px;">

     <table style="max-width:330px;margin:0 auto;border:1px solid #DCE5F1;border-radius:13px;border-spacing:0;">
        <tbody style="color:#1a1c1f;">
           
           <tr style="font-size: 16px;line-height: 21px;">
              <td style="font-family: Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;color:#9b9b9b;width:33.33%;padding:22px;">Today's Date:</td>
              <td style="width:33.33%;padding:22px;">June 4, 2023</td>
           </tr>
           <tr style="font-size: 16px;line-height: 21px;">
              <td style="border-top:1px solid #DCE5F1;width:33.33%;padding:22px;color:#9b9b9b;">##3's Balance:</td>
              <td style="border-top:1px solid #DCE5F1;width:33.33%;padding:22px;">$127.20</td>
           </tr>
              
        </tbody>
     </table>

  </td>
</tr>
