<tr>
   <td style="padding:10px 20px 20px;text-align:center;" >
     <table style="max-width:470px;margin:0 auto;border-collapse:collapse;font-size:18px;line-height:27px;">
       <tbody style="color:#1a1c1f;">
          <tr style="border: 2px solid #f1f3f8;background:#222935;color:#fff;font-family:Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;font-size:16px;line-height: 21px;">
             <td style="width:33.33%;padding:10px 22px;">DATE</td>
             <td style="width:33.33%;padding:10px 22px;">PAYMENT</td>
             <td style="width:33.33%;padding:10px 22px;">STATUS</td>
          </tr>
          <tr style="border: 2px solid #f1f3f8;">
             <td style="width:33.33%;padding:22px 5px;">06/01/2023</td>
             <td style="width:33.33%;padding:22px 5px;">$127.80</td>
             <td style="width:33.33%;padding:22px 5px;color:#6b7583;">Expired</td>
          </tr>
          <tr style="border: 2px solid #f1f3f8;">
             <td style="width:33.33%;padding:22px 5px;">06/02/2023</td>
             <td style="width:33.33%;padding:22px 5px;">$154.20</td>
             <td style="width:33.33%;padding:22px 5px;color:#6b7583;">Expired</td>
          </tr>
          <tr style="border:2px solid #f1f3f8;background:#f1f3f8;">
             <td style="width:33.33%;padding:22px 5px;">06/3/2023</td>
             <td style="width:33.33%;padding:22px 5px;">268.70</td>
             <td style="width:33.33%;padding:0 22px 5px;">
                <a href="{{CLICK1685}}"
                   style="font-size:18px;line-height:21px;letter-spacing:.04em;color:#ffffff;background-color:#DB3737;border:1px solid #DB3737;display:inline-block;padding: 11px 25px;border-radius:4px;text-decoration:none;"
                >
                   Available
                </a>
             </td>
          </tr>
       </tbody>
    </table>
   </td>
</tr>
