<tr>
  <td style="padding:10px 44px 20px;">
     <table style="width:330px;margin:0 auto;border-collapse:collapse;font-size:16px;">
        <tbody style="font-family:Open Sans,Roboto,San-Francisco,Helvetica,Arial;">
           <tr>
              <td colspan="2"><span
                    style="font-family:Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;font-size:18px;line-height:26px;letter-spacing:.8px;margin:0 0 10px;display:inline-block;padding:7px 25px;border-bottom:2px dashed #9b9b9b;">📃
                    Balance Summary:</span></td>
           </tr>
           <tr>
              <td
                 style="font-family:Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;color:#9b9b9b;padding:10px 22px;">
                 Today's Date:</td>
              <td style="padding:10px 22px;">May 29, 2023</td>
           </tr>
           <tr>
              <td
                 style="font-family:Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;color:#9b9b9b;padding:10px 22px;">
                 Sign Up Date:</td>
              <td style="padding:10xp 22px;">May 29, 2023</td>
           </tr>
           <tr>
              <td style="padding:10px 22px;color:#9b9b9b;"><span style="text-transform:capitalize;">##3</span>'s&nbsp;Balance:
              </td>
              <td style="padding:10px 22px;"><b>$236.20</b></td>
           </tr>
        </tbody>
     </table>
  </td>
</tr>