<tr>
  <td style="font-size:18px;line-height:27px;padding:10px 20px;">
    Please, submit the code <b>PBJ13</b> to validate your info and proceed to the <a href="{{CLICK8988}}" style="text-decoration: none;color:#2AB83D;">survey&nbsp;page</a>.  
  </td>
</tr>
<tr>
  <td>
    <table style="width:350px;margin:0 auto;box-sizing:border-box;padding:0 0 20px;">
      <tbody>
        <tr>
          <td style="padding: 15px 0 20px;">
            <input type="text" name="code" value="PBJ13"
          style="padding:10px 20px;border:2px solid #9FB6D6;border-radius:4px;font-size:18px;line-height:21px;width:calc(100% - 44px);text-align:center;">
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{CLICK8988}}"
          style="display:inline-block;text-decoration:none;background:#2AB83D;border:1px solid #2AB83D;border-radius:4px;color:#ffffff;font-size:20px;line-height:30px;padding:13px 10px 10px;letter-spacing:0.04em;width:calc(100% - 22px);">Partake for $236.40</a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>