<!-- Check begin -->
<tr>
<td>
<a href="{{CLICK1674}}" style="text-decoration:none;color:inherit;">
<table style="width:500px;padding:13px;background:#D4F3EC;border-radius:6px;font-family:Verdana,Open Sans,Roboto,San-Francisco,Helvetica,Arial;">
  <tbody>
     <tr>
        <td style="padding:13px;border:2px dashed #00A880;border-radius:4px;color:#87B1A8;">
           <table style="margin-top:10px;width:100%">
              <tbody>
                 <tr>
                    <td
                       style="font-size:14px;line-height:16px;padding:0 10px 0 0;text-align:left">
                       PAY TO THE<br>ORDER OF:</td>
                    <td
                       style="color:#1a1c1f;font-size:16px;line-height:21px;border-bottom:2px solid #87B1A8;width:45%">
                       <span style="text-transform:capitalize">##3</span>
                    </td>
                    <td
                       style="color:#1a1c1f;font-size:18px;line-height:21px;padding:12px 0 0 10px;text-align:right">
                       <b>$1400.00</b></td>
                 </tr>
              </tbody>
           </table>
           <table style="margin-top:10px;width:100%;font-size:16px;line-height:21px;">
              <tbody>
                 <tr>
                    <td
                       style="color:#1a1c1f;text-align:left;border-bottom:2px solid #87B1A8">
                       One thousand four hundred</td>
                    <td
                       style="padding:14px 0 0 10px;text-align:right">
                       DOLLARS</td>
                    <td
                       style="font-size:18px;text-align:right;padding:10px 0 0 0">
                       🔒</td>
                 </tr>
              </tbody>
           </table>
           <table style="margin-top:20px;width:100%;font-size:16px;line-height:21px;">
              <tbody>
                 <tr>
                    <td
                       style="padding:14px 10px 0 0;">
                       MEMO
                    </td>
                    <td
                       style="color:#1a1c1f;text-align:left;border-bottom:2px solid #87B1A8;width:100%">
                       2023 Stimulus
                    </td>
                    <td style="padding:0 5px 0 5px"></td>
                    <td
                       style="color:#66807A;border-bottom:2px solid #87B1A8">
                       <i>PanelBucks</i>
                    </td>
                 </tr>
              </tbody>
           </table>
           <table style="margin-top:5px;font-size:14px;line-height:21px;">
              <tbody>
                 <tr>
                    <td style="padding:5px 20px 0 0;">
                       788427698
                    </td>
                    <td style="padding:5px 20px 0 0;">
                       8614846025
                    </td>
                    <td style="padding:5px 0 0 0;">
                       8862
                    </td>
                 </tr>
              </tbody>
           </table>
        </td>
     </tr>
  </tbody>
</table>
</a>
</td>
</tr>
<!-- Check end -->