<tr>
  <td style="padding:20px 20px 10px;">
     <table style="border:1px solid #E8E8E9; border-radius:14px; width:450px; padding: 15px 0px;margin:0 auto;">
        <tbody>
           <tr>
              <td colspan=2 style="font-size:18px;line-height:27px;padding:5px 20px 5px;">
                 Do you think politicians fulfilling election&nbsp;promises?
              </td>
           </tr>
           <tr>
              <td style="padding: 20px 5px 15px 0;text-align:right;">
                 <a href="{{CLICK8981}}"
                    style="font-size:18px;line-height:21px;letter-spacing:.04em;color:#ffffff;background-color:#2AB83D;border:1px solid #2AB83D;display:inline-block;padding:11px 0;border-radius:4px;text-decoration:none;width: 120px;margin:0 8px;text-align:center;"
                 >
                    Yes
                 </a>
              </td>
              <td style="padding: 20px 0 15px 5px;text-align:left;">
                 <a href="{{CLICK8981}}"
                    style="font-size:18px;line-height:21px;letter-spacing:.04em;color:#ffffff;background-color:#2AB83D;border:1px solid #2AB83D;display:inline-block;padding:11px 0;border-radius:4px;text-decoration:none;width:120px;margin:0 8px;text-align:center;"
                 >
                    No
                 </a>
              </td>
           </tr>
        </tbody>
     </table>
  </td>
</tr>