<tr>
  <td style="padding: 0 20px 30px;">
     <table style="border:1px solid #e8e8e9;border-radius:14px;width:350px;margin:0 auto;padding:15px 0;color:#5e5e5e;">
     <tbody style="font-size:16px;">
        <tr>
           <td
              style="padding:5px 20px 15px;border-bottom:1px solid #e8e8e9">
              Name:</td>
           <td
              style="padding:5px 20px 15px;border-bottom:1px solid #e8e8e9">
              <span style="text-transform:capitalize">##3</span></td>
        </tr>
        <tr>
           <td
              style="padding:15px 20px;border-bottom:1px solid #e8e8e9">
              Member&nbsp;Status:</td>
           <td
              style="padding:15px 20px;border-bottom:1px solid #e8e8e9">
              💎&nbsp;Platinum</td>
        </tr>
        <tr>
           <td
              style="padding:15px 20px 5px;">
              Account&nbsp;Balance:</td>
           <td
              style="color:#222;padding:15px 20px 5px;">
              <b>$285.20</b></td>
        </tr>
     </tbody>
  </table>
  </td>
</tr>